<!-- Top navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <div>
            <a class="btn btn-primary m-1" href="/">메인으로</a>
            <a class="btn btn-primary m-1" href="/betting">베팅하기</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item"><a class="nav-link" href="/profile/bet">베팅내역</a></li>
                <li class="nav-item active"><a class="nav-link" href="/profile/favorite">관심경기</a></li>
                <li class="nav-item active"><a class="nav-link" href="/profile/point">포인트내역</a></li>
                <li class="nav-item active"><a class="nav-link" href="/profile/charge">충전내역</a></li>
            </ul>
        </div>
    </div>
</nav>