<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>관리자페이지</title>
        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- jQuery core -->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
        <!-- jQuery datetimepicker JS & CSS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha512-f0tzWhCwVFS3WeYaofoLWkTP62ObhewQ1EZn65oSYDZUg1+CyywGKkWzm8BxaJj5HGKI72PnMH9jYyIFz+GH7g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div id="wrapper">
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <a class="btn btn-primary" href="/admin">관리자 페이지</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item"><a class="nav-link" href="/admin/game">경기관리</a></li>
                                <li class="nav-item active"><a class="nav-link" href="/admin/user">유저관리</a></li>
                                <li class="nav-item active"><a class="nav-link" href="/admin/money">게임머니</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid" style="max-width: 700px;">
                    <div class="m-4" style="border: 1px solid">   
                        <div class="text-info p-2" style="text-align: center;">경기등록</div>
                        <form name="gameForm" action="/admin_game_insert" method="post" onsubmit="return qqsubmit();"> 
                            <div class="m-2" style="border: 1px solid">
                                <div class="row m-2 p-2">
                                    <div class="col-3 text-primary">종목</div>
                                    <div class="col-3 form-check">
                                        <input class="form-check-input" type="radio" name="sports" id="sports1" value="축구" onClick="updateList(this.value); updateStandardHandy(this.value); updateStandardUnover(this.value); updateDisplayRateOriginal(this.value);" required>
                                        <label class="form-check-label" for="sports1">
                                            축구
                                        </label>
                                    </div>
                                    <div class="col-3 form-check">
                                        <input class="form-check-input" type="radio" name="sports" id="sports2" value="야구" onClick="updateList(this.value); updateStandardHandy(this.value); updateStandardUnover(this.value); updateDisplayRateOriginal(this.value);" required>
                                        <label class="form-check-label" for="sports2">
                                                야구
                                        </label>
                                    </div>
                                    <div class="col-3 form-check">
                                        <input class="form-check-input" type="radio" name="sports" id="sports3" value="롤" onClick="updateList(this.value); updateStandardHandy(this.value); updateStandardUnover(this.value); updateDisplayRateOriginal(this.value);" required>
                                        <label class="form-check-label" for="sports3">
                                            롤
                                        </label>
                                    </div>
                                </div>
                                <div class="row m-2 p-2">
                                    <div class="col-3 text-primary">리그</div>
                                    <div class="col-9">
                                        <select class="form-select" aria-label="Default select example" name="myList" onchange="updateTeamList(this.value)" required>
                                            <option value="0" selected>종목을 선택해주세요.</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row m-2 p-2">
                                    <div class="col-4 text-primary">경기날짜</div>
                                    <div class="col-8">
                                        <input class="form-control" type="text" id="dateTimePicker1" name="date" autocomplete="off" required>
                                    </div>
                                </div>

                                <!-- 경기삽입 오리지날 -->
                                <div class="m-2" style="border: 1px solid">
                                    <div class="row m-2 p-2" style="text-align:center;">
                                        <div class="text-danger">오리지날</div>
                                        <div class="col-6">
                                            <div class="p-2 text-primary">홈팀</div>
                                            <select class="form-select" name="mySelect1" id="home">
                                                <option selected>팀 선택</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <div class="p-2 text-primary">원정팀</div>
                                            <select class="form-select" name="mySelect2" id="away">
                                                <option selected>팀 선택</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- 축구 배당 -->
                                    <div class="row m-2 p-2" id="football" style="text-align:center; display:none;">
                                        <div class="col-4">
                                            <div class="text-primary">승</div>
                                            <input class="form-control" type="number" step="0.01" id="homeRate_original_football" name="homeRate" disabled="disabled" autocomplete="off" required>
                                        </div>
                                        <div class="col-4">
                                            <div class="text-primary">무</div>
                                            <input class="form-control" type="number" step="0.01" id="drawRate_original_football" name="drawRate" disabled="disabled" autocomplete="off" required>
                                        </div>
                                        <div class="col-4">
                                            <div class="text-primary">패</div>
                                            <input class="form-control" type="number" step="0.01" id="awayRate_original_football" name="awayRate" disabled="disabled" autocomplete="off" required>
                                        </div>
                                    </div>
                                    <!-- 야구&롤 배당 -->
                                    <div class="row m-2 p-2" id="nofootball" style="text-align:center; display:none;">
                                        <div class="col-6">
                                            <div class="p-2 text-primary">홈팀배당</div>
                                            <select class="form-select" id="homeRate_original_nofootball" name="homeRate" onchange="updateRate(this.value)" disabled="disabled" required>
                                                <option value="" selected>배당선택</option>
                                                <option value=1.01>1.01</option>
                                                <option value=1.12>1.12</option>
                                                <option value=1.25>1.25</option>
                                                <option value=1.41>1.41</option>
                                                <option value=1.78>1.78</option>
                                                <option value=2.10>2.10</option>
                                                <option value=3.00>3.00</option>
                                                <option value=4.56>4.56</option>
                                                <option value=6.28>6.28</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <div class="p-2 text-primary">원정팀배당</div>
                                            <input type="text" class="form-control" id="awayRate_original_nofootball" name="awayRate" placeholder="자동설정" disabled="disabled" readonly>
                                        </div>
                                    </div>
                                </div>

                                <!-- 경기삽입 핸디캡 -->
                                <div class="m-2" style="border: 1px solid">
                                    <div class="row p-2" style="text-align:center;">
                                        <div class="p-2 text-danger">핸디캡</div>
                                        <div class="col-5 text-primary">기준점</div>
                                        <div class="col-7">
                                            <select class="form-select" name="myStandard_handy" required>
                                                <option value="" selected>기준점선택</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- 축구 핸디 배당 -->
                                    <div class="row p-2" id="football_handy" style="text-align:center; display:none;">
                                        <div class="col-4">
                                            <div class="text-primary">핸디승</div>
                                            <input class="form-control" type="number" step="0.01" id="homeRate_handy_football" name="homeRate_handy" disabled="disabled" autocomplete="off" required>
                                        </div>
                                        <div class="col-4">
                                            <div class="text-primary">핸디무</div>
                                            <input class="form-control" type="number" step="0.01" id="drawRate_handy_football" name="drawRate_handy" disabled="disabled" autocomplete="off" required>
                                        </div>
                                        <div class="col-4">
                                            <div class="text-primary">핸디패</div>
                                            <input class="form-control" type="number" step="0.01" id="awayRate_handy_football" name="awayRate_handy" disabled="disabled" autocomplete="off" required>
                                        </div>
                                    </div>
                                    <!-- 야구&롤 핸디 배당 -->
                                    <div class="row p-2" id="nofootball_handy" style="text-align:center; display:none;">
                                        <div class="col-6">
                                            <div class="text-primary">핸디승</div>
                                            <select class="form-select" id="homeRate_handy_nofootball" name="homeRate_handy" onchange="updateHandyRate(this.value)" disabled="disabled" required>
                                                <option value="" selected>배당선택</option>
                                                <option value=1.41>1.41</option>
                                                <option value=1.78>1.78</option>
                                                <option value=2.10>2.10</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-primary">핸디패</div>
                                            <input type="text" class="form-control" id="awayRate_handy_nofootball" name="awayRate_handy" placeholder="자동설정" disabled="disabled" readonly>
                                        </div>
                                    </div>
                                </div>

                                <!-- 경기삽입 언오버 -->
                                <div class="m-2" style="border: 1px solid;">
                                    <div class="row p-2" style="text-align:center;">
                                        <div class="p-2 text-danger">언오버</div>
                                        <div class="col-5 text-primary">기준점</div>
                                        <div class="col-7">
                                            <select class="form-select" name="myStandard_unover" required>
                                                <option value="" selected>기준점선택</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row p-2" style="text-align:center;">
                                        <div class="col-6">
                                            <div class="text-primary">언더</div>
                                            <select class="form-select" name="homeRate_unover" onchange="updateUnoverRate(this.value)" required>
                                                <option value="" selected>배당선택</option>
                                                <option value=1.41>1.41</option>
                                                <option value=1.78>1.78</option>
                                                <option value=2.10>2.10</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-primary">오버</div>
                                            <input type="text" class="form-control" id="awayRate_unover" name="awayRate_unover" placeholder="자동설정" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="p-2" style="text-align:center;">
                                    <button type="submit" class="btn btn-primary">경기수정</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/admin_game_select_league.js"></script>
        <script src="/js/admin_game_rate_setting.js"></script>
        <script src="/js/admin_game_insert_check.js"></script>
        <script src="/js/admin_game_display_rate.js"></script>
        <script src="/js/admin_game_standard_setting.js"></script>
        <script>
            jQuery.datetimepicker.setLocale('kr');
            $(function() {
                $('#dateTimePicker1').datetimepicker({
                    i18n:{
                        de:{
                            months:['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                            dayOfWeek:['일', '월', '화', '수', '목', '금', '토']
                        }
                    },
                    format: 'Y-m-d H:i:00',
                });
            });
        </script>
    </body>
</html>